@import './fonts.scss';

#blog {
  font-family: $font-primary;
  margin-top: 130px;

  .post-img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
  }

  .post-overview-content {
    // max-height: 205px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-family: $font-secondary;
    text-align: justify;
  }

  @media (max-width: 576px) {
    .post-img {
      width: 100%;
      height: 100%;
      max-width: 250px;
    }
  }
}