@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

$font-primary: 'Viga';
$font-secondary: 'Bitter';

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}