@import './fonts.scss';

#home {
  font-family: $font-primary;
  .jumbotron {
    background-image: url('../../assets/img/profile/bg.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
  }

  .jumbotron .container {
    z-index: 1;
    position: relative;
  }

  .jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
  }

  .jumbotron .display-4 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .post-img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
  }

  .post-overview-content {
    // max-height: 205px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    font-family: $font-secondary;
    text-align: justify;
  }

  .rating i {
    color: yellow;
    font-size: 30px;
  }

  .review-img {
    width: 200px;
    height: 200px;
  }

  @media (max-width: 576px) {
    // .post {
    //   width: 100%;
    //   height: 100%;
    //   max-width: 350px;
    // }
  }
}